


form {
    justify-content: center;
    align-content: center;
    /* border: 5px  solid  black; */
    display: block;
    height: 100vh;
    width: 100%;
    height: 500 px;
    padding: 20px;
    line-height: 5px;
    /* justify-content: right;
    text-align: right; */
}

form h2 {
    text-align: center;
   padding-bottom: 10px;
  
}

.inputGroup {
    margin:10px;
    padding: 5px;
    line-height: 10px;
    font-size: 20px;
    /* color: #9b1894; */
    text-align: center;

  }


  .inputGroup label  {
    padding: 5px;
    margin-bottom: 5px;
    
  }
  /* Make fields stretch to fit container */
  .inputGroup input {
    margin: 5px;
    width:100%;
 
  }

  .inputGroup textarea {
    width:100%;
  
  }

  .submitButton {
    text-align: center;
  }

