/* Define styl for the index */
/*  divs have solid borders, style is flat, black and white */
header {
background-color: black;
width: 100%;
display: block;
  border: 5px, solid, #262447;
  height: 200 px;
  margin: 0px;
  margin-bottom: 10px;
}
/*  Dark Mode */

.dark {
    background-color:#262447;
    height: 100vh;
    color: #bebebe
   
  }

  /* insert elements dark mode below */
/*  check if you will use hovers too for buttons */

/* Light mode */

.light {
    background-color: #f0ead6;
    color: black;
    height: 100vh;
  }
  
    /* insert elements light mode below */
  