/* Define styl for the index */
/*  divs have solid borders, style is flat, black and white */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
font-family: ;
}


.header {
  width: 100%;
  height: 100px;
  border-bottom: 5px solid black;
  /* clear:both; */
  top: 0px;
  margin-bottom: 10px;


}

.header div {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: right;
  text-align: right;


}

.modeSwitcher {
   width: 50px;
  height: 50px; 
  margin-right: 20px;
 align-items: center;
 align-self: center;


} 


.photo {
  border: 5px solid black;
  width: 49%;
  height: 100vh;
  display: block;
  float: left;
  position: relative;
  /* margin-right: 5px; */
}

/* Center image */
/* .photo img {
  border: 10px solid red;
}
 */
#imgHero {
  /* border: 10px solid red; */
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);

}

/* 
 .mode {
  height: 100px;
  border: 5px  solid purple;
  justify-content: right;
  text-align: right;
} 

 .mode img {
  margin-top: 25px;
  margin-right: 20px;
  align-items: center;

} */

/*  Dark Mode */

.dark {
  border-color:  white;
  background-color: #262447;
  height: 100vh;
  color: #bebebe
}

/* insert elements dark mode below */
/*  check if you will use hovers too for buttons */

.dark header {
  border-color: rgb(198, 168, 216);
}
.dark aside {
  border-color: rgb(198, 168, 216);
}

.dark main {
  border: 5px  solid  rgb(198, 168, 216);

}

.dark form {
  color: rgb(198, 168, 216);
}

.dark footer {
  color: rgb(198, 168, 216);
}


/* Light mode */

.light {
  /* border: 5px solid rgb(129, 18, 194); */
  background-color: #f4e3fc;
  color: black;
  height: 100vh;
}

.light header {
  border-color: rgb(129,18,194);
}
.light aside {
  border-color: rgb(129,18,194);
}

.light main {
  border: 5px  solid  rgb(129,18,194);

}

.light form {
  color: #9b1894;
}

.light footer {
  border-color: rgb(129,18,194);

}

/* .light .submitButton {
  background-color: #9b1894;
} */


/* insert elements light mode below */
.blogPosts {
  height: 60vh;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  background-color: white;
  margin-bottom: 10px;
}

footer {

  height: 100px;
  border-top: 5px solid black;
  /* clear:both; */
  */ bottom: 0px;
  display: flex;
}

footer  h2 {
  justify-content: center;

}

footer ul {
  margin-top: 50px;
  align-self: center;
  justify-content: left;
  display: inline-block;
}